<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.device.display.samples.pen">

    <application>
        <activity
            android:name=".PenEventsActivity"
            android:label="@string/pen_events_app_name" />
    </application>
</manifest>