<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.device.display.samples.qualifiers">

    <application>
        <activity
            android:name=".QualifiersActivity"
            android:label="@string/qualifiers_app_name" />
    </application>
</manifest>