<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) Microsoft Corporation. All rights reserved.
  ~ Licensed under the MIT License.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.microsoft.device.display.samples.intentsecondscreen"
    tools:ignore="GoogleAppIndexingWarning">

    <application>
        <activity
            android:name=".IntentToSecondScreenFirstActivity"
            android:label="@string/intent_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntentToSecondScreenSecondActivity"
            android:label="@string/intent_app_name"
            android:launchMode="singleInstance" />

        <activity-alias
            android:name=".SecondActivityShortcut"
            android:label="@string/intent_app_name"
            android:targetActivity=".IntentToSecondScreenSecondActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>